- if user_signed_in?
  - if current_user.admin?
    = link_to 'Коригувати', edit_politic_path(@politic)
    = link_to 'В пічку!', politic_path(@politic), method: :delete
.row
  .col-md-4.col-xs-4
    .photo
      .object
        .frame
          .canvas
            = image_tag(@politic.photo_url)
  .col-md-8.col-xs-12
    .politic-name
      = @politic.name 
    %h3
      Діагноз:
      = @politic.post
    - if @voted
      %span.star-rating-dis
        - (1...11).each do |i|
          - if i <= @average_rate
            %span.star-gold
          - else
            %span.star-grey
    -else
      %span.star-rating.active
        %span.star{ data: { :politic_id => @politic.id, :rate => 10} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 9} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 8} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 7} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 6} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 5} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 4} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 3} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 2} }
        %span.star{ data: { :politic_id => @politic.id, :rate => 1} }
    %span.average-rating  
      = "#{@average_rate}/10"
    .votes_counter
      = "Людей проголосувало: #{@politic.votes.count}"
.row
  .col-md-12.col-xs-12
    %h4
      Історія хвороби: 
      = @politic.about
- @feedbacks.each do |feedback|
  %div{class: feedback.emo_type}
    %a{name: feedback.id}
    .feedback
      .feedback-header
        .user
          .username
            = feedback.user.username
          - if request.location.country == 'Ukraine'
            .flag.flag-ua
          - elsif request.location.country == 'Russia'
            .flag.flag-ru
          - elsif request.location.country == 'Reserved'
            .flag.flag-eu
          - else
            %span
              = request.location.country
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'В пічку!', politic_feedback_path(@politic, feedback), method: :delete
        .date
          %h4
            = feedback.created_at.to_s(:ru_datetime)
      .feedback-content
        = feedback.content
      .feedback-footer
        .links
          .feedback-link
            = link_to 'Посилання на відгук', politic_path(@politic, anchor: feedback.id)
          .comment-link
            = link_to "Обговорення (#{feedback.comments.count})", politic_feedback_path(@politic, feedback)
        - if user_signed_in?
          - if feedback.user.id == current_user.id
            .voted
              .rating
                = feedback.rating
          - else
            - if current_user.voted_for?(feedback.id)
              - if current_user.positive_vote?(feedback.id)
                .voted
                  .rating
                    = feedback.rating
                  %i.voted-for.fa.fa-thumbs-up.green
              - else 
                .voted
                  .rating
                    = feedback.rating
                  %i.voted-against.fa.fa-thumbs-down.red
            - else
              .votes.make-vote
                .rating
                  = feedback.rating
                %i.vote-for.fa.fa-thumbs-o-up{ data: {:article_type => "/politics/", :article_id => @politic.id, :voteable_type => "/feedbacks/", :voteable_id => feedback.id} }
                %i.vote-against.fa.fa-thumbs-o-down{ data: {:article_type => "/politics/", :article_id => @politic.id, :voteable_type => "/feedbacks/", :voteable_id => feedback.id} }
        - else
          .votes
            = link_to '', new_user_session_path, class: 'vote-for fa fa-thumbs-o-up'
            = link_to '', new_user_session_path, class: 'vote-against fa fa-thumbs-o-down'
            .rating
              = feedback.rating
%h1
  Залишити відгук
- if user_signed_in?
  = render 'feedback'
- else
  Для написания відгуку необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path