- if user_signed_in?
  - if current_user.admin?
    = link_to 'Коригувати', edit_politic_path(@politic)
.row
  .col-md-4.col-xs-4
    = image_tag(@politic.photo_url)
  .col-md-8.col-xs-8
    %h1
      = @politic.name 
    %h3
      Діагноз:
      = @politic.post
.row
  .col-md-12.col-xs-12
    %h4
      Історія хвороби: 
      = @politic.about
- @politic.feedbacks.each do |feedback|
  - if feedback.feedback_type == 'positive'
    .green
      .feedback
        .feedback-header
          .username
            %h4
              = feedback.user.username
              = '(' + request.location.country + ')'
          .date
            %h4
              = feedback.created_at.to_s(:ru_datetime)
        .feedback-content
          = feedback.content
        .feedback-footer
          = link_to "Обсуждение (#{feedback.comments.count})", politic_feedback_path(@politic, feedback)
  - elsif feedback.feedback_type == 'negative'
    .red
      .feedback
        .feedback-header
          .username
            %h4
              = feedback.user.username
              = '(' + request.location.country + ')'
          .date
            %h4
              = feedback.created_at.to_s(:ru_datetime)
        .feedback-content
          = feedback.content
        .feedback-footer
          = link_to "Обсуждение (#{feedback.comments.count})", politic_feedback_path(@politic, feedback)
  - elsif feedback.feedback_type == 'neutral'
    .grey
      .feedback
        .feedback-header
          .username
            %h4
              = feedback.user.username
              = '(' + request.location.country + ')'
          .date
            %h4
              = feedback.created_at.to_s(:ru_datetime)
        .feedback-content
          = feedback.content
        .feedback-footer
          = link_to "Обсуждение (#{feedback.comments.count})", politic_feedback_path(@politic, feedback)
%h1
  Написать відгук
- if user_signed_in?
  = render 'feedback'
- else
  Для написания відгуку необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path