= form_for ([@news, @news.reviews.build]) do |f|
  %p
    = f.hidden_field :news_id
    = f.hidden_field :user_id, :value => current_user.id
    = f.radio_button :review_type, "positive"
    = label_tag(:positive_review, "Положительный")
    = f.radio_button :review_type, "negative"
    = label_tag(:positive_review, "Отрицательный")
    = f.text_area :content, class: 'form-control', rows: 10

  %p
    = f.submit "Готово", class: 'btn btn-default'