%h1  
  = @news.title
= @news.content
- @news.reviews.each do |review|
  - if review.review_type == 'positive'
    .green
      .review
        .review-header
          .username
            %h4
              = review.user.username
              = '(' + request.location.country + ')'
          .date
            %h4
              = review.created_at.to_s(:ru_datetime)
        .review-content
          pos
          = review.content
        .review-footer
          = link_to "Обсуждение (#{review.comments.count})", news_review_path(@news, review)
  - else
    - if review.review_type == 'negative'
      .red 
        .review
          .review-header
            .username
              %h4
                = review.user.username
                = '(' + request.location.country + ')'
            .date
              %h4
                = review.created_at.to_s(:ru_datetime)
          .review-content
            neg
            = review.content
          .review-footer
            = link_to "Обговорення (#{review.comments.count})", news_review_path(@news, review)
    - else
      - if review.review_type == 'neutral'
        .grey
          .review
            .review-header
              .username
                %h4
                  = review.user.username
                  = '(' + request.location.country + ')'
              .date
                %h4
                  = review.created_at.to_s(:ru_datetime)
            .review-content
              neu
              = review.content
            .review-footer
              = link_to "Обговорення (#{review.comments.count})", news_review_path(@news, review)
%h1
  Написати рецензию
- if user_signed_in?
  = render 'review'
- else
  Для написания рецензії необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path