%h1  
  = @news.title
= @news.content
- @news.reviews.each do |review|
  - if review.review_type == 'positive'
    .green
      .review
        %h2
          = review.user.username
          = '(' + request.location.country + ')'
        = review.content
        = link_to "Обсуждение (#{review.comments.count})", news_review_path(@news, review)
  - else
    .red
      .review
        %h2
          = review.user.username
          = '(' + request.location.country + ')'
        = review.content
        = link_to "Обсуждение (#{review.comments.count})", news_review_path(@news, review)
%h1
  Написать рецензию
- if user_signed_in?
  = render 'review'
- else
  Для написания рецензии необходимо зарегистрироваться