- if user_signed_in?
  - if current_user.admin?
    = link_to 'Коригувати', edit_news_path(@news)
%h1  
  = @news.title
= @news.content
- @news.reviews.each do |review|
  %div{class: review.review_type}
    %a{name: review.id}
    .review
      .review-header
        .username
          %h4
            = review.user.username
            = '(' + request.location.country + ')'
            - if user_signed_in?
              - if current_user.admin?
                = link_to 'В пічку!', news_review_path(@news, review), method: :delete
        .date
          %h4
            = review.created_at.to_s(:ru_datetime)
      .review-content
        = review.content
      .review-footer
        .links
          .review-link
            = link_to 'Посилання на рецензію', news_path(@news, anchor: review.id)
          .comment-link
            = link_to "Обговорення (#{review.comments.count})", news_review_path(@news, review)
        .votes.make-vote
          .rating
            = review.rating
          %i.vote-for.fa.fa-thumbs-o-up{ data: {:article_type => "/news/", :article_id => @news.id, :voteable_type => "/reviews/", :voteable_id => review.id} }
          %i.vote-against.fa.fa-thumbs-o-down{ data: {:article_type => "/news/", :article_id => @news.id, :voteable_type => "/reviews/", :voteable_id => review.id} }
%h1
  Написати рецензию
- if user_signed_in?
  = render 'review'
- else
  Для написания рецензії необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path