- if user_signed_in?
  - if current_user.admin?
    = link_to 'Коригувати', edit_news_path(@news)
    = link_to 'В пічку!', news_path(@news), method: :delete
%h1  
  = @news.title
= @news.content
- @reviews.each do |review|
  %div{class: review.emo_type}
    %a{name: review.id}
    .review
      .review-header
        .user
          .username
            = review.user.username
          - if request.location.country == 'Ukraine'
            .flag.flag-ua
          - elsif request.location.country == 'Russia'
            .flag.flag-ru
          - elsif request.location.country == 'Reserved'
            .flag.flag-eu
          - else
            %span
              = request.location.country
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'В пічку!', news_review_path(@news, review), method: :delete
        .date
          %h4
            = review.created_at.to_s(:ru_datetime)
      .review-content
        = review.content
      .review-footer
        .links
          .review-link
            = link_to 'Посилання на рецензію', news_path(@news, anchor: review.id)
          .comment-link
            = link_to "Обговорення (#{review.comments.count})", news_review_path(@news, review)
        - if user_signed_in?
          - if review.user.id == current_user.id
            .voted
              .rating
                = review.rating
          - else
            - if current_user.voted_for?(review.id)
              - if current_user.positive_vote?(review.id)
                .voted
                  .rating
                    = review.rating
                  %i.voted-for.fa.fa-thumbs-up.green
              - else 
                .voted
                  .rating
                    = review.rating
                  %i.voted-against.fa.fa-thumbs-down.red
            - else
              .votes.make-vote
                .rating
                  = review.rating
                %i.vote-for.fa.fa-thumbs-o-up{ data: {:article_type => "/news/", :article_id => @news.id, :voteable_type => "/reviews/", :voteable_id => review.id} }
                %i.vote-against.fa.fa-thumbs-o-down{ data: {:article_type => "/news/", :article_id => @news.id, :voteable_type => "/reviews/", :voteable_id => review.id} }
        - else
          .votes
            = link_to '', new_user_session_path, class: 'vote-for fa fa-thumbs-o-up'
            = link_to '', new_user_session_path, class: 'vote-against fa fa-thumbs-o-down'
            .rating
              = review.rating
%h1
  Написати рецензию
- if user_signed_in?
  = render 'review'
- else
  Для написания рецензії необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path
  = link_to(image_tag('http://wiki.qip.ru/public/f/f6/%D0%98%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0_vkontakte.png', class: 'original-size'), user_omniauth_authorize_path(:vkontakte)) 