= form_for ([@politic, @feedback, @comment]) do |f|
  %p
    = f.hidden_field :commentable_id, :value => @feedback.id
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :commentable_type, :value => 'Feedback'
    = f.text_area :content, class: 'form-control', rows: 10

  %p
    = f.submit "Готово", class: 'btn btn-default'