= content_for(:title, "Відгук №#{@feedback.id} | politfeedback.com")
%h1
  Відгук № 
  = @feedback.id
  про політика
  = link_to @politic.name, politic_path(@politic)
= @feedback.content
.comments
  %h3
    Комментарии:
  - @feedback.comments.each do |comment|
    .feedback
      .feedback-header
        .user
          .username
            = comment.user.username
          - if request.location.country == 'Ukraine'
            .flag.flag-ua
          - elsif request.location.country == 'Russia'
            .flag.flag-ru
          - elsif request.location.country == 'Reserved'
            .flag.flag-eu
          - else
            %span
              = request.location.country
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'В пічку!', news_feedback_comment_path(@politic, @feedback, comment), method: :delete
        .date
          %h4
            = comment.created_at.to_s(:ru_datetime)
      .feedback-content
        = comment.content
= render 'comment'


