= form_for ([@news, @review, @comment]) do |f|
  %p
    = f.hidden_field :commentable_id, :value => @review.id
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :commentable_type, :value => 'Review'
    = f.text_area :content, class: 'form-control', rows: 10

  %p
    = f.submit "Готово", class: 'btn btn-default'