%h1
  Рецензия № 
  = @review.id
  на новость
  = link_to @news.title, news_path(@news)
= @review.content
.comments
  %h3
    Комментарии:
  - @review.comments.each do |comment|
    %h3
      = comment.user.username
      = request.location.country
    = comment.content

= render 'comment'
