= content_for(:title, "Рецензія №#{@review.id} | politreview.com")
%h1
  Рецензія № 
  = @review.id
  на новость
  = link_to @news.title, news_path(@news)
= @review.content
.comments
  %h3
    Коментарі:
  - @review.comments.each do |comment|
    .feedback
      .feedback-header
        .user
          .username
            = comment.user.username
          - if request.location.country == 'Ukraine'
            .flag.flag-ua
          - elsif request.location.country == 'Russia'
            .flag.flag-ru
          - elsif request.location.country == 'Reserved'
            .flag.flag-eu
          - else
            %span
              = request.location.country
          - if user_signed_in?
            - if current_user.admin?
              = link_to 'В пічку!', news_review_comment_path(@news, @review, comment), method: :delete
        .date
          %h4
            = comment.created_at.to_s(:ru_datetime)
      .feedback-content
        = comment.content
- if user_signed_in?
  = render 'comment'
- else
  Для написания відгуку необходимо здійснити вхід.
  = link_to 'Ввійти', new_user_session_path
  = link_to 'Зареєстуватись', new_user_registration_path
  = link_to(image_tag('http://wiki.qip.ru/public/f/f6/%D0%98%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0_vkontakte.png', class: 'original-size'), user_omniauth_authorize_path(:vkontakte)) 

