!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body.col-md-offset-1.col-sm-offset-1.col-xs-12.col-sm-10.col-md-10
    = render 'layouts/header'
    .row
      .hot-news.col-md-7.col-xs-12
        = yield
      .recent-news.col-md-3.col-xs-6
        %h2 Больше
        - @recent_news.each do |news|
          .single-recent-news
            %h5 
              = news.created_at.to_s(:ru_datetime)
            = link_to news.title, news_path(news)
          %hr
      .hot-politics.col-md-2.col-xs-6
        %h2 Политики
        = image_tag('http://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Viktor_Yanukovych_27_April_2010-1.jpeg/250px-Viktor_Yanukovych_27_April_2010-1.jpeg')
        %h5.name Янукович Виктор Федорович
        .feedbacks-rating
          %h6.feedbacks 43 
          %h6.rating 12%
        = image_tag ('http://news2000.com.ua/ni/2/23/233250/az.jpg')
        %h5.name Азаров Николай Вольфович
        .feedbacks-rating
          %h6.feedbacks 33
          %h6.rating 6%