!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body.col-md-offset-2.col-sm-offset-2.col-xs-12.col-sm-8.col-md-8
    = render 'layouts/header'
    .row
      %h2 Політики
      - @politics.each do |politic|
        .hot-politics.col-md-2.col-xs-2
          = link_to(image_tag(politic.photo_url, class: 'resize'), politic_path(politic))
          %h5.name
            = politic.name
          .feedbacks-rating
            %h6.feedbacks 43 
            %h6.rating 12%
    .row
      .hot-news.col-md-7.col-xs-12
        = yield
      .recent-news.col-md-3.col-xs-6
        %h2 Больше
        - @recent_news.each do |news|
          .single-recent-news
            %h5 
              = news.created_at.to_s(:ru_datetime)
            = link_to news.title, news_path(news)
          %hr