!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body.col-md-offset-2.col-sm-offset-2.col-xs-12.col-sm-8.col-md-8 
    = render 'layouts/header'
    = link_to 'Додати політика', new_politic_path
    = link_to 'Додати новину', new_news_path
    .row
      %h2 Політики
      - @politics.each do |politic|
        .hot-politics.col-md-2.col-xs-3
          = link_to(image_tag(politic.photo_url, class: 'resize'), politic_path(politic))
          %h5.name
            = politic.name
          .feedbacks-rating
            %h6.feedbacks 43 
            %h6.rating 12%
    .row
      .hot-news.col-md-8.col-xs-12
        %h2 Гарячі новини 
        - unless @news.image_url == nil
          = image_tag(@news.image_url)
        %h2
          = @news.title
        = @news.content
      .recent-news.col-md-4.col-xs-12
        %h2 Більше
        - @recent_news.each do |news|
          .single-recent-news
            %h5 
              = news.created_at.to_s(:ru_datetime)
            = link_to news.title, news_path(news)
          %hr