!!!
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body.col-md-offset-1.col-sm-offset-1.col-xs-12.col-sm-10.col-md-10
    = render 'layouts/header'
    .row
      .hot-news.col-md-7.col-xs-12
        %h2 HOT NEWS 
        = image_tag('http://news.liga.net/upload/iblock/b61/b6162cf40a735eb35d325bda4b92f704.jpg')
        %h2
          Андрей Дзындзя переведен в СИЗО
        Активиста "Дорожного контроля" Андрея Дзындзю, арестованного сегодня на два месяца, действительно вывели тайным ходом из Шевченковского суда и отправили в СИЗО. Об этом корреспонденту ЛІГАБізнесІнформ сообщил лидер фракции Батькивщина Арсений Яценюк. Оппозиционеру это стало известно от замначальника подразделения "Грифон", обеспечивающего безопасность судов.

        Яценюк сообщил, что обошел все помещения суда. В суде нет ни Дзындзи, ни судей, - только милиционеры. "сказали даже, что уже звонок поступил из СИЗО, что его (Дзындзю, - ред.) уже привезли... там было все начальство. Я сказал "Покажите, где задержанные". Отвечают "Мы их отвезли". Информация подтвердилась", - сказал Яценюк. 
      .recent-news.col-md-3.col-xs-6
        %h2 Больше
        - @recent_news.each do |news|
          %h5 
            = news.created_at.to_s(:ru_datetime)
          = link_to news.title, news_path(news)
      .hot-politics.col-md-2.col-xs-6
        %h2 Политики
        = image_tag('http://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Viktor_Yanukovych_27_April_2010-1.jpeg/250px-Viktor_Yanukovych_27_April_2010-1.jpeg')
        %h5.name Янукович Виктор Федорович
        .feedbacks-rating
          %h6.feedbacks 43 
          %h6.rating 12%
        = image_tag ('http://news2000.com.ua/ni/2/23/233250/az.jpg')
        %h5.name Азаров Николай Вольфович
        .feedbacks-rating
          %h6.feedbacks 33
          %h6.rating 6%